<table class="table">
  <thead class="thead">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Task Name</th>
      <th scope="col">Edit or Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td scope="row">{{ tasks.index(task)+1 }}</td>
      <td scope="row">{{ task.task }}</td>
      <td>
        <a name="" id="" class="btn btn-outline-danger" href="{{ url_for('delete', task_id=task.id) }}" role="button">Delete</a>
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
